body {
  background: linear-gradient(270deg, rgb(198, 228, 238), rgb(241, 235, 235), rgb(198, 228, 238));
  background-size: 600% 600%;
  animation: gradientMove 5s ease infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.weisses-feld{
    width: 700px;
    height: 880px;
    border-radius: 50px ;
    box-shadow:  10px 10px 20px lightslategrey;
    padding: 40px 75px 0 75px;
    margin: auto;
    background-color: rgb(241, 235, 235);
    font-family: Arial;
    line-height: 1.5;
}



.Beschreibung{
color: black;

}
.Lebenslauf,
.Motivationsschreiben,
.Zeugnisse-Sekundarstufe,
.Stellwerktest,
.Multicheck {
  display: block;
  margin-bottom: 15px;
}

.profilbild{
  border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    display: block;
    margin: 0 0 0 auto;
    box-shadow:  10px 10px 20px lightslategray;
}


.kopfbereich {
    display: flex;
    align-items: flex-start;
    gap: 40px; 
}

.kopfinhalt {
    flex: 1;
}

.Lebenslauf{
    background-color: rgb(198, 228, 238);
    font-size: 25px;
    border-radius: 10px;
    margin: auto 0 0 0;
    padding: 5px;
    color: black;
    text-decoration: none;
    border: solid 2px black;
    box-shadow:  10px 10px 20px lightslategray;
    width: 400px;

}

.Motivationsschreiben{
    background-color: rgb(198, 228, 238);
    font-size: 25px;
    border-radius: 10px;
    margin: auto 0 0 0;
    padding: 5px;
    color: black;
    text-decoration: none;
    border: solid 2px black;
    box-shadow:  10px 10px 20px lightslategray;
    width: 400px;
}

.Zeugnisse-Sekundarstufe{
    background-color: rgb(198, 228, 238);
    font-size: 25px;
    border-radius: 10px;
    margin: auto 0 0 0;
    padding: 5px;
    color: black;
    text-decoration: none;
    border: solid 2px black;
    box-shadow:  10px 10px 20px lightslategray;
    width: 400px;
}


.Stellwerktest{
    background-color: rgb(198, 228, 238);
    font-size: 25px;
    border-radius: 10px;
    margin: auto 0 0 0;
    padding: 5px;
    color: black;
    text-decoration: none;
    border: solid 2px black;
    box-shadow:  10px 10px 20px lightslategray;
    width: 400px;
}



 .Multicheck{
        background-color: rgb(198, 228, 238);
        font-size: 25px;
        border-radius: 10px;
        margin: auto 0 0 0;
        padding: 5px;
        color: black;
        text-decoration: none;
        border: solid 2px black;
        box-shadow:  10px 10px 20px lightslategray;
        width: 400px;

    }
